# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/local.properties
android/key.properties
android/app/*.jks
android/.gradle/
android/gradle-wrapper.jar
android/app/debug
android/app/profile
android/app/release

# IDE
.idea/
*.iml

# macOS
.DS_Store
